<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Calender</title>
    <script src="index.js" defer></script>
    <script src="/httpclienthandler.js" defer></script>
    <script src="/signup.js" defer></script>
</head>
<body>
    <div>
        <!-----Text that is explaining-->
        <!-----Text Picture-->
        <button type="button">Try now</button>
        <div class="modal">
            <h2>Try Smart Calender</h2>
            <p>Login in as a guest or create your own account</p>
            <div class="login-button-container">
                <button class="login-button" onclick="signInGuest()">Login as Guest</button>
            <button class="login-button" onclick="spawnLogin()">Create new account</button>
            <button class="login-button" onclick="">Login</button>
            </div>
            <div class="Signup-container">
                <input type="text" placeholder="Enter Username" name="uname" required>
                <input type="email" placeholder="placeholder@placeholder.com" name="email">
                <input type="email" placeholder="Confirm Email" name="emailCon">
                <input type="password" placeholder="Enter Password" name="psw" required>
                <button onclick="signup()" type="button">Sign Up</button>
            </div>
        </div>


    </div>
    
</body>
</html>